/* The Nunito font is released under the Open Font License 1.1. */
/* See "nunito-license.txt" for more licensing info. */
@font-face {
	font-family: 'Nunito';
	src:
		local('Nunito'),
		local('Nunito-Regular'),
		url('./assets/fonts/Nunito-Regular.ttf') format('opentype');
}

@font-face {
	font-family: 'Nunito';
	font-weight: 700;
	src:
		local('Nunito-Bold'),
		url('./assets/fonts/Nunito-Bold.ttf') format('opentype');
}

.zeb-romqom {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	margin: 0;
	background-color: #222;
	color: #fff;
	font-family: 'Nunito', sans-serif;
}

.zeb-romqom * {
	box-sizing: border-box;
}

.zeb-romqom a {
	color: inherit;
}

.zeb-romqom a:hover {
	color: #0be;
}

/* To override button styling in Chromium-based browsers. */
.zeb-romqom button {
	font-family: 'Nunito', sans-serif;
}

.zeb-romqom h1 {
	font-size: 1.8em;
	font-weight: 400;
}