.zeb-random-quote-widget {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-top: 16px;
	margin-bottom: 16px;
}

.zeb-random-quote-widget__blockquote {
	width: auto;
	max-width: 500px;
	margin-top: 0;
	margin-bottom: 16px;
	margin-left: 0;
	margin-right: 0;
	padding: 10px;

	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 10px;
	color: #000;
	font-size: 1.2em;
}

.zeb-random-quote-widget__blockquote > :first-child::before {
	content: '“';
}

.zeb-random-quote-widget__blockquote > :nth-last-child(2)::after {
	content: '”';
}

.zeb-random-quote-widget__citation {
	text-align: right;
}

.zeb-random-quote-widget__citation::before {
	content: '— ';
}

.zeb-random-quote-widget__action-container {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.zeb-random-quote-widget__action-container > * {
	margin-left: 8px;
	margin-right: 8px;
}

/* Oh, how I wish Blink supported the gap property for display: flex. */
.zeb-random-quote-widget__action-container > :first-child {
	margin-left: 0;
}

.zeb-random-quote-widget__action-container > :last-child {
	margin-right: 0;
}

.zeb-random-quote-widget__button,
.zeb-random-quote-widget__tweet-quote-link {
	font-size: 1.3em;
}

.zeb-random-quote-widget__button {
	border: none;
	border-radius: 12px;
	box-shadow:
		inset 0 1px 1px rgba(255,255,255,0.3),
		0 2px 3px rgba(0,0,0,0.8);
	padding: 6px 8px;
}

.zeb-random-quote-widget__button:hover {
	box-shadow: 0 0 2px 1px #fff;
}

.zeb-random-quote-widget__button:active {
	box-shadow: inset 0 0 2px 1px rgba(0,0,0,0.8);
	transform: translateY(1px);
}

.zeb-random-quote-widget__tweet-quote-link {
	color: #ffffff;
	text-decoration: underline;
}

.zeb-random-quote-widget__tweet-quote-link:hover {
	color: #00bbee;
}

.zeb-random-quote-widget--theme-1 .zeb-random-quote-widget__blockquote,
.zeb-random-quote-widget--theme-1 .zeb-random-quote-widget__button {
	background-color: #ff5555;
}
.zeb-random-quote-widget--theme-2 .zeb-random-quote-widget__blockquote,
.zeb-random-quote-widget--theme-2 .zeb-random-quote-widget__button {
	background-color: #ff7733;
}
.zeb-random-quote-widget--theme-3 .zeb-random-quote-widget__blockquote,
.zeb-random-quote-widget--theme-3 .zeb-random-quote-widget__button {
	background-color: #ffff55;
}
.zeb-random-quote-widget--theme-4 .zeb-random-quote-widget__blockquote,
.zeb-random-quote-widget--theme-4 .zeb-random-quote-widget__button {
	background-color: #77ff55;
}
.zeb-random-quote-widget--theme-5 .zeb-random-quote-widget__blockquote,
.zeb-random-quote-widget--theme-5 .zeb-random-quote-widget__button {
	background-color: #33eedd;
}
.zeb-random-quote-widget--theme-6 .zeb-random-quote-widget__blockquote,
.zeb-random-quote-widget--theme-6 .zeb-random-quote-widget__button {
	background-color: #3377ff;
}
.zeb-random-quote-widget--theme-7 .zeb-random-quote-widget__blockquote,
.zeb-random-quote-widget--theme-7 .zeb-random-quote-widget__button {
	background-color: #8844ff;
}
.zeb-random-quote-widget--theme-8 .zeb-random-quote-widget__blockquote,
.zeb-random-quote-widget--theme-8 .zeb-random-quote-widget__button {
	background-color: #ff44ff;
}